.introduction-section {
    .about-container {
        flex-direction: column;
        align-items: center;
        position: absolute;
        right: -50px;
        top: 50px;
   

        .about-label {
            background-color: var(--line-blue-500);
            width: fit-content;
            color: white;
            transform: rotate(90deg);
            padding: 0.5rem 1.25rem;
            font-size: 1.25rem;
            border-radius: 0.375rem;
            text-transform: uppercase;
        }

        .vertical-line {
            height: 9rem;
            width: 2px;
            background-color: var(--line-blue-500);
        }
    }
}

.avatar-image {
    width: 230px; 
    height: 280px;
    border-radius: 50%;
    object-fit: cover;
@media screen and (max-width: 1024px) {
    width: 160px;
    height: 210px;
    
}

}
